@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

$colorText: rgba(32, 32, 39, 1);
$colorBackgroundSecondary: rgba(189, 236, 50, 1);
$colorBackground: rgba(225, 255, 143, 1) ;
$colorTextSecondary: rgba(255, 255, 255, 1) ;

$borderRadius: 30px;
$widthContainer: 1200px;



